@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  background-color: #0F1B33;
}

body,
input,
input::placeholder,
select,
button,
span {
  font-family: 'Inter', sans-serif;
  color: #CDCDCD;
}

#app {
  display: grid;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 9rem;
  border-bottom: 1px solid #535F77;
}

header p.logo {
  font-size: 2.4rem;
  font-weight: bold;
}

header div.search-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header div.search-wrapper button {
  background-color: #1D4ED8;
  border: none;
  border-radius: 12px;
  padding: 1.2rem 3rem;
  font-weight: 300;
  transition: filter .3s ease;
}

header div.search-wrapper button:hover {
  filter: brightness(2);
  font-weight: 400;
}


header div.search-wrapper input {
  display: flex;
  align-items: center;
  border-radius: 46px;
  padding: 16px;
  border: none;
  width: 27rem;
  outline: none;
  background-color: #192642;
  background-image: url('./assets/search.svg');
  background-size: 20px;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  transition: all .3s ease;
}

header div.search-wrapper input::placeholder {
  font-size: 1.2rem;
  text-align: center;
}

/* header div.search-wrapper input:focus{
  background-image: none;
} */
header div.search-wrapper input.focus {
  background-image: none;
}


#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5.8rem 0;
  justify-content: center;
  gap: 10rem;
}

#result .card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 35.7rem;
  height: 74.4rem;
}

#result .card img {

  width: 100%;
  height: 40rem;
  border-radius: 4rem;
}

#result .card button {
  display: flex;
  align-items: center;
  gap: .9rem;
  width: 100%;
  padding: 2rem 15rem;
  border: none;
  border-radius: 29px;
  color: #1D4ED8;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(29, 78, 216, 6%);
}

#result .description {
  display: flex;
  justify-content: flex-start;
  border: 1px solid red;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  /* justify-content: center; */
}

.actions a {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  color: #757575;
}

.actions a i {
  font-size: 2.6rem;
}

.actions a span {
  font-size: 1.4rem;
  font-weight: 400;
}

.clicked {
  color: #1D4ED8;
}

#description {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#description h1 {
  margin-bottom: 2rem;
}

#description ul {
  list-style: none;
}

#description ul li {
  display: flex;
  gap: 4rem;
}


table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

img {
  width: 80px;
}