@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
div.markers p {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

body {
  background-color: #0F1B33;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #535F77;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.75);
}

#header .logo p {
  font-size: 20px;
  font-weight: 700;
}

#header .nav {
  display: flex;
  gap: 20px;
}

#header .nav a {
  font-weight: 300;
  padding-bottom: 4px;
  transition: all .3 ease;

}

#header .nav a:hover {
  border-bottom: 4px solid #1D4ED8;
}

.searchBlock {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

#searchInput {
  width: 250px;
  height: 20px;
  background-color: #192642;
  border: none;
  padding: 16px;
  outline: none;
  border-radius: 7px;
  background-image: url('./assets/search.svg');
  background-size: 20px;
  background-position: 5% 50%;
  background-repeat: no-repeat;
}

input::placeholder {
  text-align: center;
  color: white;
}

#searchInput.focus {
  background-image: none;
}

#searchBtn {
  padding: 7px;
  background-color: #1D4ED8;
  border: none;
  border-radius: 7px;
  transition: all .3s ease;
}

#searchBtn:hover {
  filter: brightness(2);
  font-weight: 400;
}


#welcome {
  margin-top: 5%;
  text-align: center;
}

#movieResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  padding: 16px;
}

#movieCard {
  width: 250px;
  height: 600px;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(217, 217, 217, .08);
  background: rgba(135, 135, 135, .08);
  cursor: pointer;
}

#movieCard:hover {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(41, 55, 133, 1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(41, 55, 133, 1);
  box-shadow: 0px 4px 20px 0px rgba(41, 55, 133, 1);
}

#movieCard p,
span {
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
}

#movieImgBlock {
  width: 248px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;

}

#movieImgBlock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#modal {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 7px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-card {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 7px;
  position: fixed;
  border: 1px solid rgba(217, 217, 217, .2);
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  inset: 100px 0 0 0;
}

#modal-card .card {
  display: flex;
  flex-direction: column;
}

#modal-card .card i {
  font-size: 24px;
  color: #f10000;
  font-weight: 300;
  cursor: pointer;
  transition: all .3s ease;
  text-align: right;
}

#modal-card i:hover {
  color: #c23131;
  font-weight: 700;
}

#modal-card .card {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  padding: 6px;
}

#modal-card .card-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

}

#modal-card .card-left img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.card-left .content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  background-color: rgba(15, 27, 51, .1);
  width: 300px;
  height: 300px;
  color: #1D4ED8;
}

.card-left .content h4 {
  font-size: 30px;
  font-weight: bold;
}

.card .sinopse {
  text-align: center;
  color: #1D4ED8;
  font-size: 14px;
  margin-top: 20px;
}


#error {
  width: 400px;
  height: 50px;
  position: relative;
  background: rgba(247, 81, 81, 0.678);
  border-radius: 7px;
  margin: 10px auto;
  display: grid;
  place-content: center;
}

#error.hide,
#modal.hide {
  display: none;
}


#searchInput.error {
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em rgba(247, 81, 81, 0.678);
}

@-webkit-keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}